p.centrado {
	text-align: center;
  }

  .background {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
  }


/*tarjeta 1*/
.card-header-first{
	margin-top:-40px;
    height: 120px;
	background: linear-gradient(-90deg, #BF019F, #920707); 
	box-shadow:1px 5px 15px #a2a2a2;
}


.card-section-third span i{
	padding:17px;
	margin:0px 10px;
	color:#fff;
	height:50px;
	width:50px;
	box-shadow:1px 6px 24px #d2d2d2;
	background: linear-gradient(-90deg, #11998e, #38ef7d); 
}

.card-header-third span i:hover,.card-section-third span i:hover{
	box-shadow:1px 1px 15px #000;
}

/*efecto shadows para todas las tarjetas*/
.card-section{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
/*Para el efecto sombra al pasar por encima el mouse*/
.card-section:hover{
	box-shadow:1px 1px 20px #d2d2d2;
}