<app-navbar></app-navbar>
<div class="background">
    <div class="card text-white mb-3">
        <div class="card-body shadow">
          <div class="row">
            <div class="col">
              <img src="assets/tp1.png" width="50px">
              <br>
              <div class="container text-center mt-4">
                <button type="submit" class="btn btn btn-outline-danger mb-2 mt-2 shadow" style="height: 100px;"(click)="valueFive()" >Controlar la temperatura</button>
              </div>
              <!-- <h5 class="mt-5" style="color: red;" >Temperatura:</h5> -->
            </div>
            <div class="vertical-line bg-danger" style="height: 260px;"> </div>
              <div class="col">
              <img src="assets/tp2.png" width="50px">+
              <br>
              <div class="container text-center mt-5">
                <button type="submit" class="btn btn btn-danger mb-2 mt-2 shadow" style="width: 100px;" (click)="valueOne()">25%</button>
                <button type="submit" class="btn btn btn-danger mb-2 mt-2 shadow ml-1" style="width: 100px;" (click)="valueTwo()">50%</button>
                <button type="submit" class="btn btn btn-danger mb-2 mt-2 shadow ml-1 mr-1" style="width: 100px;" (click)="valueThree()">75%</button>
                <button type="submit" class="btn btn btn-danger mb-2 mt-2 shadow" style="width: 100px;" (click)="valueFour()">100%</button>
              </div>
                  <!-- <h5 style="color: red; margin-top: 90px;" >Cantidad:</h5> -->
            </div>
          </div>
        </div>
      </div>
</div>


